.header {
    background-color: transparent;
    z-index: -2;
}

.header__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding: 5rem 6rem 0 6rem;
    flex-wrap: wrap;
    flex-direction: column;
    height: 114.7px;
}

.header__logo {
    display: flex;
    z-index: 5;

    &_slash {
        height: 47px;
    }

    &_page {
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
        color: $main-regular;
    }
}

.header__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.65rem;
    height: 2.5rem;

    &_language-list {
        display: flex;
        gap: 1.4rem;
        align-items: center;
        height: 2.5rem;
        margin-right: 7px;
    }

    &_language-item {
        list-style-type: none;
        height: 2.5rem;
    }

    &_language-link {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        color: $grey-text;
        font-weight: 700;
        font-size: 1.2rem;
        height: 1.2rem;
        z-index: 3;
    }

    &_language-link:hover::before {
        content: "";
        position: absolute;
        width: 3.3rem;
        height: 2.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $grey-bg;
        border-radius: 0.8rem;
        z-index: -1;
    }

    &_adress {
        z-index: 5;
    }

    &_adress p {
        font-weight: 400;
        font-size: 1.6rem;
        color: $grey-text;
    }

    &_phone {
        z-index: 5;
    }

    &_phone p {
        font-weight: 700;
        font-size: 1.6rem;
        color: $grey-text;
    }

    &_link {
        height: 2.5rem;
        position: relative;
        z-index: 5;
    }

    &_link a {
        fill: $grey-text;
    }

    &_link a:hover {
        fill: $accent;
    }
}

.link--red {
    position: relative;
    color: $white;
}

.link--red::before {
    content: "";
    position: absolute;
    width: 3.3rem;
    height: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $accent;
    border-radius: 0.8rem;
    z-index: -1;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__list {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
}

.header__item {
    list-style: none;
    z-index: 5;
}

.header__link {
    text-decoration: none;
    color: $active-regular;
    z-index: 4;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
}

.link--active {
    color: $accent;
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid $accent;
}

.header__link:hover {
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid $active-regular;
}

.link--active:hover {
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid $accent;
}

.dot {
    align-items: center;
    height: 2.5rem;
    padding: 0 0.6rem;
    z-index: 4;
}

#burger, [for=burger] {
    display: none;
}

.close {
    display: none;
}

@media screen and (max-width: 1023px) {
    .header__wrapper {
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
    }

    .header__logo {
        display: flex;
        order: 2;
        margin-bottom: 2.95rem;
    }

    .header__info {
        justify-content: flex-start;
        order: 1;
        margin-bottom: 3.05rem;
    }

    .header__nav {
        display: flex;
        justify-content: flex-start;
        order: 3;
    }
}

@media screen and (max-width: 612px) {
    .header__wrapper {
        padding: 0 1.5rem 0 1.5rem;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        // height: 114.7px;
    }

    .header__logo {
        &_img {
            height: 32px;
        }

        &_slash {
            height: 26px;
        }
    
        &_page {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .header__info {
        justify-content: space-between;
        order: 1;
        flex: 100%;
        background-color: $grey-bg;
        z-index: 5;
        margin: 0 -1.5rem 1.5rem -1.5rem;
        padding: 2.25rem 1.5rem;
        // margin-bottom: 3.05rem;

        &_adress {
            display: none;
        }

        &_link {
            display: none;
        }
    }

    .header__logo {
        display: flex;
        order: 2;
        margin-bottom: 0;
        flex: 50%;
    }

    .header__nav {
        display: flex;
        order: 3;
        flex: 50%;
    }

    .wrapper__nav {
        display: none;
        position: fixed;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        background: #323264;
        z-index: 5;
    }

    .header__nav nav {
        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 16px);
        background: white;
        z-index: 5;
        border-radius: 12px 12px 0px 0px;
        padding: 12px;
    }

    .header__list {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        margin-top: 52px;
    }

    .header__item {
        text-align: center;
        background-color: $grey-bg;
        border-radius: 12px;
    }

    .header__item:active {
        background-color: $grey-separator;
    }

    .header__link {
        font-weight: 700;
        font-size: 24px;
        line-height: 43px;
        color: $active-regular;
    }

    .header__link:hover {
        border: none;
    }

    .link--active {
        border: none;
        color: $accent;
    }

    .close {
        display: block;
        margin-left: auto;
        cursor: pointer;
    }

    .dot {
        display: none;
    }

    [for=burger] {
        display: block;
        z-index: 5;
        position: fixed;
        top: 5.75rem;
        right: 1.5rem;
        cursor: pointer;
        height: 3.2rem;
    }

    [for=burger]:active::before {
        content: "";
        position: absolute;
        width: 3.2rem;
        height: 3.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $grey-separator;
        border-radius: 0.8rem;
        z-index: -2;
    }

    #burger:checked + label + div > nav > label {
        display: block;
        z-index: 5;
        position: fixed;
        top: 1.2rem;
        right: 1.2rem;
    }

    #burger:checked + label + div {
        display: block;
    }

    #burger:checked + label + div > nav {
        display: block;
    }
}


