.team__wrapper {
    max-width: 1720px;
    margin: 0 auto;
    position: relative;

}

.team__container {
    padding: 8rem 6rem 3rem 6rem;
    border-radius: 1.2rem;
    display: flex;
}

.team__image {
    border-radius: 1.2rem 0px 0px 1.2rem;
    overflow: hidden;
    position: relative;
    flex: 0 0 40rem;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.team__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    background-color: $grey-bg;
    border-radius: 0px 1.2rem 1.2rem 0px;

    &_section-name {
        margin-bottom: 0.5rem;
    }


    &_quote {
        max-width: 1440px;
        font-weight: 700;
        font-size: 3.8rem;
        line-height: 4.6rem;
        background: $gradient-redtext;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 3rem;
    }

    &_autor {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
        color: $grey-text;
        margin-bottom: 0.6rem;
    }

    &_autor-position {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: $grey-text;
    }
}

.team__scroll-dots {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 843px) {
    .team__container {
        flex-direction: column;
    }

    .team__image {
        border-radius: 1.2rem 1.2rem 0 0;
        height: 50rem;
        flex: none;
    }

    .team__text {
        border-radius: 0px 0 1.2rem 1.2rem;
    }
}

@media screen and (max-width: 582px) {
    .team__container {
        padding: 5rem 3rem 3rem 3rem;
    }

    .team__text_quote {
        font-size: 3rem;
        line-height: 3.7rem;
    }
}
